body {
    background-color: #293742;
    
}

#header {
    background-color: #394b59;
    box-shadow: 0 0 0 1px rgb(16 22 26 / 20%), 0 0 0 rgb(16 22 26 / 0%), 0 1px 1px rgb(16 22 26 / 40%);
    height: 120px;
    padding: 0 15px;
    position: relative;
    width: 100%;
    z-index: 10;
}

#header #logo {
    width: 500px;
    margin: 0 auto;
}

#header #logo img {
    width: 333px;
    height: 100px;
    float: left;
    /*position: relative;*/
    margin-top: 10px;
}

#header #logo span {
    display: block;
    width: 160px;
    float: left;
    margin-top: 20px;
    /*position: relative;*/
    font-family: sans-serif, Helvetica, Arial;
    font-weight: bold;
    font-size: 4.4em;
    color: #1ED760;
}

#main {
    min-width: 600px;
    max-width: 860px;
    margin: 0 auto;
    height: calc(100vh - 120px);
    overflow: hidden;
    padding: 20px;
}

#main #page {
    height: 100%;
}